@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

$white: #FFFFFF;
$black: #000000;
$black__light: #2C2C2C;
$gray: #9F9F9F;
$yellow: #FEDA1F;
$blue: #2747F0;
$gray_bcg: #E5E5E5;
$gray_border: #C5C5C5;

%flex__space-between {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
%order_items {
    border: 2px solid $gray_border;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $black__light;
}

html {
    font-size: 10px;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1120px;
    margin: auto;
    padding: 3px;
}

/*=== HEADER ===*/
.header {
    background: url('./img/header_bcg.png') 50% 50% no-repeat;
}
.header__title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 8rem;
    line-height: 9.8rem;
    color: $white;
    text-align: center;
}
.header__subtitles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.header__subtitle {
    display: flex;
    justify-content: center;
}
.header__sub{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
    color: $white;
    max-width: 361px;
}

/*=== nav ===*/
.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.nav__left {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $white;
    max-width: 175px;
}
.nav__center {
    display: flex;
    justify-content: space-between;
}
.nav__link {
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $white;
    padding: .3rem;
}
.nav__link:hover, .nav__link:focus {
    color: $yellow;
    transition: color .2s linear;
}
.nav__phone {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    color:$white;
}
.nav__schedule {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: $white;
}

/*=== order form ===*/
.order {
    max-width: 987px;
    box-sizing: border-box;
    text-align: center;
    padding: 40px 65px 65px;
    margin: auto;
    background: $white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin-bottom: 111px;
}
.order__caption {
    display: flex;
    justify-content: start;
    align-items: center;
}
.order__title{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
    color: $black;
    margin-right: 2.4rem;
}
.gold {
    color: $yellow;
}
.order__subtitle {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $gray;
}
.order__form{
    @extend %flex__space-between;
}
.order__left{
    width: 50%;
}
.order__name {
    @extend %order_items;
    width: 100%;
    margin-bottom: 2.1rem;
}
.order__phone {
    @extend %order_items;
    width: 100%;
    margin-bottom: 2rem;
}
.order__comments {
    width: 100%;
    @extend %order_items;
}
.order__right {
    margin: 0 17px;
}
.order__time {
    width: 100%;
    margin-bottom: 2.1rem;
} 
.order__date {
    @extend %order_items;
}
.order__hours {
    @extend %order_items;
}
.order__place {
    width: 100%;
    margin-bottom: 2rem;
}
.order__from {
    @extend %order_items;
}
.order__to {
    @extend %order_items;
}
.order__car{
    width: 100%;
    @extend %order_items;
    margin-bottom: 2rem;
}

/*=== button ===*/
.btn {
    background: #2747F0;
    box-shadow: 0px 0px 10px rgba(39, 68, 222, 0.3);
    border-radius: 30px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $white;
}

/*=== causes ===*/
.causes {
    padding-top: 7rem;
    padding-bottom: 4.3rem;
}
.causes__title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.9rem;
    color: $black__light;
    margin-bottom: 4rem;
}
.causes__block {
    @extend %flex__space-between;
    margin: -1.5rem;
}
.causes__item {
    max-width: 350px;
    padding: 3rem;
    margin: 1.5rem;
    box-sizing: border-box;
    background: linear-gradient(180deg, #2747F0 0%, #203DD6 100%);
    box-shadow: 0px 0px 20px rgba(39, 71, 240, 0.3);
    border-radius: 10px;
}
.causes__caption {
    display: flex;
    justify-content: start;
}
.causes__subtitle {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $white;
}
.causes__text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $white;
}

/*=== speech ===*/
.speech__block {
    display: flex;
    justify-content: space-between;
    background: $yellow;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    height: 444px;
}
.speech__content {
    padding: 0 6.4rem;
    background: $white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    width: 795px;
    box-sizing: border-box;
    
}
.speech__apostrophe {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 12rem;
    line-height: 14.6rem;
    color: $black__light;
    margin: 0;
    margin-top: -43px;
    margin-bottom: -43px;
}
.speech__title {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4;
    color: $black;
    margin: 0;
    margin-bottom: 3.3rem;
}
.speech__text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.6;
    line-height: 2rem;
    color: $gray;
    padding-right: 5px;
    margin: 0;
    margin-bottom: 0.8rem;
}
.speech__director {
    margin-top: -16px;
    width: 364px;
    height: 462px;
    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-right: 22px;
    margin-left: -60px;
}