@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

$white: #FFFFFF;
$black: #000000;
$black__light: #2C2C2C;
$gray: #9F9F9F;
$yellow: #FEDA1F;
$blue: #2747F0;
$gray_bcg: #E5E5E5;
$gray_border: #C5C5C5;
$gray_footer: #D1D1D1;

%flex__space-between {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
%order_items {
    border: 2px solid $gray_border;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $black__light;
    width: 49%;
}

html {
    font-size: 10px;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1120px;
    margin: auto;
    padding: 3px;
    overflow: hidden;
}

/*=== HEADER ===*/
.header {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.76) 59.9%, rgba(0, 0, 0, 0.5) 100%), url('./img/header_bcg.png');
    background-position: center center;
}
.header__title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 8rem;
    line-height: 9.8rem;
    color: $white;
    text-align: center;
    margin: 5rem 0;
    padding: 0;
}
.header__subtitles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.header__subtitle {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}
.header__sub{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
    color: $white;
    max-width: 361px;
    margin: 0;
    padding: 0;
}
.header__icon {
    width: 40px;
    height: 40px;
    fill: $white;
    margin-right: 3rem;
}

/*=== nav ===*/
.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 4rem 0 5rem 0;
    position: relative;
}
.nav__left {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $white;
    max-width: 175px;
    order: 1;
}
.nav__center {
    display: flex;
    justify-content: space-between;
    order: 1;
    padding: 0 0.5rem;
    list-style-type: none;
}
.nav__kontakt {
    margin-left: 0.5rem;
    text-align: right;    
}
.nav__right {
    order: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__link {
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $white;
    padding: .3rem;
}
.nav__link:hover, .nav__link:focus {
    color: $yellow;
    transition: color .2s linear;
}
.nav__phone {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    color:$white;
}
.nav__schedule {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: $white;
}
.nav__pic {
    display: flex;
    flex-direction: column;
}
.messenger-nav {
    padding: .5rem 0;
}

/*=== hamburger__menu ===*/
.hamburger__menu {
    visibility: hidden;
    order: 1;
}
#menu__toggle {
    opacity: 0;
}
.menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center; 
    width: 35px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 2rem;
    z-index: 2;
}
.menu__line, .menu__line::before, .menu__line::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
}
.menu__line::before {
    content: '';
    top: -8px;
}
.menu__line::after {
    content: '';
    top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #7a7878;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #FFFFFF;
    font-family: circe;
    font-size: 2rem;
    text-decoration: none;
}
.menu__item:hover, .menu__item:focus{
    background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}
.menu__line, .menu__line::before, .menu__line::after {
  -webkit-transition-duration: .25s;
       -o-transition-duration: .25s;
          transition-duration: .25s;
}
.menu__box {
  -webkit-transition-duration: .25s;
       -o-transition-duration: .25s;
          transition-duration: .25s;
}
.menu__item {
  -webkit-transition-duration: .25s;
       -o-transition-duration: .25s;
          transition-duration: .25s;
}

/*=== order form ===*/
.order {
    max-width: 987px;
    box-sizing: border-box;
    text-align: center;
    padding: 40px 65px 45px;
    margin: auto;
    background: $white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin-bottom: 111px;
}
.order__caption {
    display: flex;
    justify-content: start;
    align-items: center;
}
.order__title{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
    color: $black;
    margin-right: 2.4rem;
}
.order__subtitle {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $gray;
}
.order__form{
    @extend %flex__space-between;
}
.order__left{
    width: 50%;
}
.order__name {
    @extend %order_items;
    width: 100%;
    height: 5rem;
    margin-bottom: 2.1rem;
}
.order__phone {
    @extend %order_items;
    height: 5rem;
    width: 100%;
    margin-bottom: 2rem;
}
.order__comments {
    width: 100%;
    @extend %order_items;
    margin-bottom: 2rem;
}
.order__right {
    width: 50%;
}
.order__time {
    width: 100%;
    height: 5rem;
    margin-bottom: 2.1rem;
} 
.order__date {
    @extend %order_items;
    height: 5rem;
}
.order__hours {
    @extend %order_items;
    height: 5rem;
}
.order__place {
    width: 100%;
    margin-bottom: 2rem;
}
.order__from {
    @extend %order_items;
    height: 5rem;
}
.order__to {
    @extend %order_items;
    height: 5rem;
}
.order__car{
    width: 99%;
    height: 5rem;
    @extend %order_items;
    margin-bottom: 2rem;
}

/*=== button ===*/
.btn {
    background-color: #2747F0;
    box-shadow: 0px 0px 10px rgba(39, 68, 222, 0.3);
    border-radius: 30px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $white;
    width: 25.6rem;
    height: 5rem;
    border: 0;
    &:focus, &:hover {
        background-color: $yellow;
        transition: background-color .2s linear;
    }
}
.small_btn {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    width: 12.6rem;
}
.gold {
    color: $yellow;
}
.blue {
    color: $blue;
}

/*=== block__title ===*/
.block__title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.9rem;
    color: $black__light;
    margin: 0;
    padding: 0;
    margin-left: 5.4rem;
}


/*=== causes ===*/
.causes {
    padding-top: 7rem;
    padding-bottom: 4.3rem;
    overflow: hidden;
}
.causes__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -1.5rem;
    margin-top: 4rem;
}
.causes__item {
    max-width: 350px;
    padding: 3rem;
    margin: 1.5rem;
    box-sizing: border-box;
    background: linear-gradient(180deg, #2747F0 0%, #203DD6 100%);
    box-shadow: 0px 0px 20px rgba(39, 71, 240, 0.3);
    border-radius: 10px;
}
.causes__caption {
    display: flex;
    justify-content: start;
    margin-bottom: 1.7rem;
    align-items: center;
}
.causes__icon {
    width: 4rem;
    height: 4rem;
    fill: $white;
    margin-right: 1.5rem;
}
.causes__subtitle {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $white;
    margin: 0;
    padding: 0;
}
.causes__text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $white;
    margin: 0;
    padding: 0;
}

/*=== speech ===*/
.speech {
    margin-bottom: 9.2rem;
}
.speech__block {
    display: flex;
    justify-content: space-between;
    background: $yellow;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
.speech__content {
    padding: 0 6.4rem;
    background: $white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    max-width: 795px;
    box-sizing: border-box;
    padding-bottom: 5.4rem;    
}
.speech__apostrophe {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 12rem;
    line-height: 14.6rem;
    color: $black__light;
    margin: 0;
    margin-top: -4.3rem;
    margin-bottom: -4.3rem;
}
.speech__title {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
    color: $black;
    margin: 0;
    margin-bottom: 3.3rem;
}
.speech__text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $gray;
    padding-right: .5rem;
    margin: 0;
    margin-bottom: 0.8rem;
}
.speech__director {
    margin-top: -18px;
    max-width: 364px;
    height: auto;
    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-right: 2.2rem;
    margin-left: -6rem;
}

/*=== class ===*/
.class__car {
    @extend %flex__space-between;
    margin-top: 5rem;
    margin-bottom: 7rem;
}
.class_item {
    width: 25%;
    text-align: center;
}
.class__img {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 254px;  
    z-index: 1;
}
.class__subtitle {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $black__light;
    margin-top: 0;
    margin-bottom: 1.8rem;
}
.class__volume {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.class__pic {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    fill: $gray;
}
.class__text {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $gray;
    margin: 0;
}
 .class__text-first {
    margin-right: 1.5rem;
}

/*=== popular ===*/
.popular {
    margin-bottom: 7rem;
}
.popular__blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem 3rem;
    margin-bottom: 4rem;
    margin-top: 4.6rem;
}
.popular__item {
    position: relative;
}
.popular_img {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: contain;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.048) 0%, rgba(0, 0, 0, 0.456) 59.9%, rgba(0, 0, 0, 0.6) 100%);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.popular__text {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    text-align: center;
}
.popular__city {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $white;
    margin: 0 0 .5rem;
    padding: 0;
}
.popular__price {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $yellow;
    margin: 0;
    padding: 0;
}
.popular__link {
    display: flex;
    justify-content: center;
}
.popular__all {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $black__light;
    text-decoration: none;
    &:hover, &:focus {
        opacity: .8;
        transition: opacity .2s linear;
    }
}

/*==numeral===*/
.numeral {
    margin-bottom: 7.9rem;
}
.numeral__block {
    @extend %flex__space-between;
    margin-top: 5rem;
    flex-wrap: nowrap;
}
.numeral__item {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.numeral__digits {
    display: flex;
    justify-content: center;
}
.numeral__icon {
    fill: $blue;
    width: 6rem;
    height: 6rem;
    margin-right: .4rem;
}
.numeral__digit {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.7rem;
    color: $blue;
    margin: 0;
}
.numeral__text {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    color: $black__light;
    margin: .8rem 0 0;
    white-space: pre-wrap;
}

/*=== review ===*/
.review {
    margin-bottom: 8.6rem;
}
.review__large {
    display: block;
}
.review__small {
    display: none;
}
.review__header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7rem;
    align-items: center;
}
.review__subtitle {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $gray;
    margin-left: 6rem;
    max-width: 26.5rem;
}
.review__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
    position: relative;
}
.review__item {
    display: flex;
    flex-direction: column;
    position: relative;
}
.review__rectangle {
    background: linear-gradient(180deg, #2747F0 0%, #203DD6 100%);
    border-radius: 10px;
    max-width: 54rem;
    height: 26rem;
    padding: 0 3.7rem;
}
.review__apostrof {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 10rem;
    line-height: 12.2rem;
    color: $black__light;
    margin-top: -3rem;
    margin-bottom: 0;
}
.review__text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $white;
    margin-top: -3rem;
}
.review__wrapper {
    text-align: right;
}
.review__arrow {
    width: 6.5rem;
    height: 6.5rem;
    margin-left: 5.3rem;
    margin-top: -2.5rem;
    fill: #203DD6;
}
.review__arrow-right {
    margin-right: 5.3rem;
}
.review__klient {
    display: flex;
    align-items: center;
}
.review__klient-right {
    position: absolute;
    right: 0;
    bottom: 0;
}
.review__foto {
    width: 7.5rem;
    height: 7.5rem;
    margin-right: 2.1rem;
    margin-left: 4.7rem;
}
.review__foto-right {
    order: 1;
    margin-right: 4.7rem;
    margin-left: 2.1rem;
}
.review__name {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $black__light;
}
.review__name-right {
    order: 0;
}
.slider__arrow {
    width: 1.3rem;
    height: 4rem;
    fill: $blue;
    position: absolute;
    cursor: pointer;
    z-index: 3;
    bottom: 1.25rem;
    &:hover, &:focus {
        fill: $yellow;
        transition: fill .2s linear;
    }
}
.slider__arrow-left {
    left: 0;
}
.slider__arrow-right {
    right: 0;
}
.slider__dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 2.75rem;
    z-index: 2;
    text-align: center;
    align-items: center;
}
.slider__dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: $gray;
    border-radius: 5px;
    cursor: pointer;
    &:hover, &:focus {
        background-color: $blue;
        transition: background-color .2s linear;
    }
  }
.slider__dot_active{
    background-color: $blue;
    transition: background-color .2s linear;
}

/*=== review small ===*/
.review__item_sm {
    display: flex;
    flex-direction: column;
    position: relative;
}
.slider__dot_sm {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: $gray;
    border-radius: 5px;
    cursor: pointer;
    &:hover, &:focus {
        background-color: $blue;
        transition: background-color .2s linear;
    }
  }
/*=== ask ===*/
.ask {
    margin-bottom: 7rem;
}
.ask__header {
    background: $gray_bcg;
    border-radius: 5px;
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}
.ask__header-active {
    background: $yellow;
}
.ask__block {
    margin-top: 5rem;
}
.ask__minus, .ask__plus{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $black__light;
    display: none;
    margin-left: 6.3rem;
    margin-right: 1.5rem;
    cursor: pointer;
}
.ask__minus-active, .ask__plus-active {
    display: block;
}
.ask__title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #2C2C2C;
}
.ask__text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $gray;
    display: none;
    margin-left: 6rem;
    max-width: 70rem;
}
.ask__text-active {
    display: block;
}

/*=== seo ===*/
.seo {
    margin-bottom: 6.8rem;
}
.seo__block {
    @extend %flex__space-between
}
.seo__item {
    width: 49%;
}
.seo__text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $gray;
    margin: 0;
}

/*=== bell ===*/
.bell {
    margin-bottom: 9rem;
}
.bell__form {
    @extend %flex__space-between;
    padding: 4rem 3rem;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    align-items: center;
}
.bell__header {
    display: flex;
    flex-direction: column;
}
.bell__title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $black__light;
    margin: 0 0 1.3rem;
}
.bell__text {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $gray;
    max-width: 32rem;
    margin: 0;
}
.bell__name,  .bell__phone {
    border: 2px solid $gray_border;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $black__light;
    max-width: 19.2rem;
    height: 5rem;
    &::placeholder {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: $gray;
    }
}

/*=== footer ===*/
.footer {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.76) 59.9%, rgba(0, 0, 0, 0.5) 100%), url('./img/header_bcg.png');
    background-position: center center;
    padding: 5rem 0 4.5rem;
}
.footer__block {
    @extend %flex__space-between;
}
.footer__item {
    width: 25%;
    display: flex;
    flex-direction: column;
}
.footer__title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $white;
    padding: 0;
    margin: 0;
    margin-bottom: 1.3rem;
}
.footer__copyrihgt {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $gray_footer;
    padding: 0;
    margin: 0;
}
.footer__link{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-align: center;
    color: $white;
    text-decoration: none;
    margin-bottom: 1rem;
    &:hover, &:focus {
        color: $yellow;
        transition: color .2s linear;
    }
}
.footer__phone {
    display: flex;
}
.phone {
    width: 20px;
    height: 20px;
    margin-right: 1.5rem;
}
.footer__number {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $white;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}
.footer__mode {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: $white;
    padding: 0;
    margin: 0;
    margin-bottom: 1.8rem;
}
.footer__pic {
    display: flex;
    justify-content: center;
}
.messenger {
    width: 25px;
    height: 25px;
    margin: 0 0 0 1rem;
}
.footer__text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $gray_footer;
    margin: 0;
    padding: 0;
    margin-bottom: 2.2rem;
}

@media (max-width: 1040px) {
    .container {
        padding: 0 1rem;
    }
    .class__car {
        justify-content: center;
    }
    .class_item {
        width: 50%;
        text-align: center;
    }
    .review__rectangle {
        height: 28rem;
    }
    .bell__form {
        justify-content: start;
    }
    .bell__header {
        flex-direction: row;
        justify-content: start;
        align-items: center;
        width: 100%;
        margin-bottom: 3rem;
    }
    .bell__title {
        margin: 0 3rem 0 0 ;
    }
    .bell__name,  .bell__phone {
        margin-right: 3rem;
    }
    .speech__director {
        max-width: 350px;
    }
}

@media (max-width: 896px) {
    .nav__center {
        width: 100%;
        order: 2;
        justify-content: center;
        text-align: center;
        margin-top: 1rem;
    }
    .header__title {
        font-size: 6.5rem;
        line-height: 8rem;
    }
    .header__sub{
        font-size: 1.8rem;
        line-height: 2.2rem;
        max-width: 310px;
    }
    .order {
        max-width: 760px;
        margin-bottom: 80px;
    }
    .speech__block {
        flex-wrap: wrap;
        justify-content: center;
    }
    .speech__content {
        max-width: 892px;
    }
    .speech__director {
        margin-right: 0;
        margin-left: 0;
        max-width: 300px;
    }
    .popular__blocks {
        grid-template-columns: repeat(2, 1fr);
    }
    .review__rectangle {
        height: 35rem;
    }
    .bell {
        margin-bottom: 7rem;
    }
    .bell__name {
        max-width: 15rem;
    }
    .bell__phone {
        max-width: 16.6rem;
    }
    .bell__name,  .bell__phone {
        margin: 0 1rem 2rem;
    }
    .btn-bell {
        margin-bottom: 2rem;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 690px;
    }
    .header__title {
        font-size: 5rem;
        line-height: 6.1rem;
    }
    .header__subtitle {
        margin-bottom: 4rem;
    }
    .header__sub{
        font-size: 1.6rem;
        line-height: 2rem;
        max-width: 264px;
    }
    .header__icon {
        width: 35px;
        height: 35px;
        margin-right: 1.8rem;
    }
    .order {
        max-width: 540px;
        padding: 40px 65px 40px;
        margin-bottom: 56px;
    }
    .order__left{
        width: 100%;
    }
    .order__right {
        width: 100%;
    }
    .causes__item {
        max-width: 330px;
    }
    .speech {
        margin-bottom: 7rem;
    }
    .speech__title {
        margin-bottom: 1.9rem;
    }
    .speech__director {
        max-width: 225px;
    }
    .numeral {
        margin-bottom: 5rem;
    }
    .review {
        margin-bottom: 4rem;
    }
    .review__block {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0;
        padding: 0 8rem;
        margin-bottom: 3rem;
    }
    .review__small {
        display: block;
    }
    .review__large {
        display: none;
    }
    .review__rectangle {
        max-width: 54rem;
        height: 100%;
        margin: 0 auto;
    }
    .review__text {
        margin-bottom: 2rem;
    }
    .slider__arrow {
        bottom: -3.75rem;
    }
    .slider__dots {
        bottom: -3rem;
    }
    .slider__arrow-left {
        left: 4rem;
    }
    .slider__arrow-right {
        right: 4rem;
    }
    .slider__dot_active{
        background-color: $blue;
        transition: background-color .2s linear;
    }
    .seo {
        margin-bottom: 5.2rem;
    }
    .seo__text {
        margin-bottom: 1.6rem;
    }
    .seo__item {
        width: 100%;
    }
    .bell__form {
        justify-content: center;
    }
    .footer {
        padding: 5rem 0 1.5rem;
    }
    .footer__item {
        width: 50%;  
        margin-bottom: 3rem;  
        text-align: center;    
    }
    .footer__phone {
        justify-content: center;
    }
}
@media (max-width: 540px) {
    .class_item {
        width: 100%;
    }
    .class__car {
        margin-top: 2.3rem;
        margin-bottom: 4.4rem;
    }
    .small_btn {
        right: 0.4rem;
        width: 10rem;
    }
    .popular__text {
        left: 1.3rem;
    }
    .numeral {
        margin-bottom: 2rem;
    }
    .numeral__block {
        justify-content: center;
        margin-top: 3rem;
        flex-wrap: wrap;
    }
    .numeral__item {
        margin-bottom: 3rem;
        padding: 0 0.5rem;
    }
}

@media (max-width: 510px) {
    .header__title {
        font-size: 2.9rem;
        line-height: 4rem;
    }
    .header__sub{
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
    .hamburger__menu {
        visibility: visible;
    }
    .nav__center {
        visibility: hidden;
        order: 1;
        width: 30px;
        height: 22px;
    }
    .nav__right {
        width: 100%;
    }
    .order {
        padding: 40px 30px 40px;
        margin: 0 -1rem;
        border-radius: 0;
    }
    .order__caption {
        flex-wrap: wrap;
        text-align: left;
    }
    .order__title{
        width: 100%;
        margin: 0 0 1.5rem;
    }
    .order__subtitle {
        font-size: 1.3rem;
        line-height: 1.6rem;
        width: 100%;
        margin: 0 0 2.7rem;
    }
    .order__date {
        width: 100%;
        margin-bottom: 2rem;
    }
    .order__hours {
        width: 100%;
        margin-bottom: 2rem;
    }
    .order__from {
        width: 100%;
        margin-bottom: 2rem;
    }
    .order__to {
        width: 100%;
    }
    .causes {
        padding-top: 5rem;
        padding-bottom: 2.2rem;
    }
    .causes__block {
        margin: 4rem 0 0;
    }
    .causes__item {
        margin: 0 0 2rem;
    }
    .causes__icon {
        width: 3.5rem;
        height: 3.5rem;
    }
    .causes__subtitle {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
    .causes__text {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
    .block__title {
        font-size: 2rem;
        line-height: 2.4rem;
        text-align: center;
        margin-left: 0;
    }
    .speech {
        margin-bottom: 5rem;
    }
    .speech__apostrophe {
        font-size: 10rem;
        line-height: 12.2rem;
    }
    .speech__content {
        padding: 0 2.2rem 5.4rem;
    }
    .speech__title {
        font-size: 1.4rem;
        line-height: 1.7rem;
        margin-bottom: 1rem;
    }
    .speech__text {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    .speech__director {
        max-width: 180px;
    }
    .popular {
        margin-bottom: 5.6rem;
    }
    .popular__blocks {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 3rem;
        grid-gap: 2rem 2rem;
        margin-bottom: 1.6rem;
    }
    .review__header {
        margin-bottom: 2rem;
        justify-content: center;
        text-align: center;
    }
    .review__subtitle {
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-left: 0;
    }
    .review__block {
        padding: 0;
    }
    .review__rectangle {
        padding: 0 3.3rem;
    }
    .review__apostrof {
        font-size: 8rem;
        line-height: 9.8rem;
    }
    .review__text {
        font-size: 1.4rem;
        line-height: 1.7rem;
        margin-top: -3rem;
    }
    .ask {
        margin-bottom: 5rem;
    }
    .ask__block {
        margin-top: 3rem;
    }
    .ask__minus, .ask__plus{
        margin-left: 2.4rem;
    }
    .ask__title {
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
    .ask__text {
        font-size: 1.6rem;
        line-height: 2rem;
        margin-left: 1rem;
    }
    .seo {
        margin-bottom: 3.5rem;
    }
    .seo__text {
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .bell {
        margin-bottom: 3rem;
    }
    .bell__form {
        justify-content: center;
        flex-wrap: wrap;
    }
    .bell__header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .bell__title {
        margin: 0 0 1.8rem;
    }
    .bell__text {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    .bell__name,  .bell__phone {
        font-size: 1.2rem;
        line-height: 1.5rem;
        max-width: 40rem;
        &::placeholder {
            font-size: 1.2rem;
            line-height: 1.5rem;
        }
    }
    .footer {
        padding: 3.7rem 0 1rem;
    }
    .footer__item {
        width: 100%;  
    }
}
@media (max-width: 340px) {
    .header__title {
        font-size: 2rem;
        line-height: 2.4rem;
        margin-bottom: 3rem;
    }
    .header__subtitle {
        margin-bottom: 3rem;
    }
    .header__sub{
        font-size: 1.4rem;
        line-height: 1.7rem;
        max-width: 200px;
    }
    .header__icon {
        width: 30px;
        height: 30px;
    }
    .order {
        padding: 28px 30px 48px;
        margin: 0 -1rem;
    }
    .order__subtitle {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    .causes__block {
        max-width: 256px;
        margin:3rem auto 0;
    }
    .causes__subtitle {
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
    .causes__text {
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
    .block__title {
        margin-left: 0;
    }
    .speech__director {
        max-width: 133px;
    }
}